@import 'tailwindcss';

@theme {
  --font-lato: Lato, sans-serif;
  --font-poppins: Poppins, sans-serif;
  --font-raleway: Raleway, sans-serif;
  --font-roboto: Roboto, sans-serif;
  --font-quicksand: Quicksand, sans-serif;
}
/* 
html {
  color-scheme: dark;
} */

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
}
